@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Belanosima", sans-serif;
  background-color: #bd8a7ab0;
}
.main {
  text-align: center;
  height: 100vh;
  margin: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content {
  margin: 20px;
}
#content p {
  margin: 20px;
  background-color: #bf47226a;
  max-width: 40%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
}
